body {
    padding: 0;
    margin: 0;
    font-family: Arial, serif;
    font-size: 17px; }
#nav { background-color: #ADD8E6; }
#nav_wrapper {
    width: 960px;
    margin: 0 auto;
    text-align: center; }
#nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: relative;
    min-width: 200px; }
#nav ul li { display: inline-block; }
#nav ul li:hover { background-color: #000000; }
#nav ul li:hover a {color: #000000; }
#nav ul li a:hover {
    color: #add8e6;
}
a {
    color: #000000;
    display: block;
    padding: 15px;
    text-decoration: none;
}
#nav ul li:hover ul { display: block;
    color: #ADD8E6;}
#nav ul ul { display: none;
    position: absolute;
    background-color:#ADD8E6;
    border: 5px solid #ADD8E6;
    border-top: 0;
    margin-left: 0; }
#nav ul ul li { display: block; }
#nav ul ul li a:hover { color: #ADD8E6; }
